*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
#contactForm{
  display:none;
}
h1{
  font-size: 3em;
}
header{
  display:flex;
  flex-direction: row;
  width:85%;
  height:10%;
  min-height:75px;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #8860D0;
  color:#5680E9;
}
nav{
  display:flex;
  flex-direction: row;
}
.App{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color:#C1C8E4;
  color:white;
  font-family: 'Roboto', sans-serif;
}
#title{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color:#5680E9;

}
#titleBG{
  width:50%;
  height:auto;
  padding:25px;
}
#titleName{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:75%;
}
#lineImage{
  width:200px;
  height:50px;
}
.button {
  background-color: #5680E9;
  border:none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}
.mainContent{
  width:80%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align:center;
  min-height: fit-content;
}
#main, #main2{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
}
#mainLeft, #main2Right{
  background-color: #84CEEB;
  color:white;
  width:40%;
  height:fit-content;
  min-height:500px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding:20px;
  text-align:center;
}
#mainRight, #main2Left{
  background-color:white;
  color:#5680E9;
  width:60%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding:20px;
}
#services{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width:100%;
  height:75%;
}
.serviceExample{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
}
.serviceExample img{
  width:50px;
  height:50px;
}
#products{
  min-height:400px;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#5680E9;
}
/*
https://www.canva.com/colors/color-wheel/
complementary theme
#81B0DD - blue
#FF932D - orangish
#151746 - dark blue - text
*/